
.dots{
    background-color: silver;
    cursor: pointer;
}

.dots_active{
    border: 5px solid white;
    background: none;
}

.dots, .dots_active{
    width: 3vh;
    height: 3vh;
    margin-right: 3% ;
    border-radius: 25%;
    display: inline-flex;
    content: '';
}

.dotsBox{
    padding: 1%;
}
