.carouselMainBox{
    /*border: 1px solid white;*/
    position: relative;
    height: 50%;
    width: 50%;
    display: inline-flex;
    box-shadow: 0 0 20px silver;
    border-radius: 2%;
}
.lastImg, .firstImage, .itemBox{
    position: relative;
    min-width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
    transition: 0.1s;
}
.lastImg img, .firstImage img, .itemBox img{
    width: 96%;
}

.itemBox a{
    text-decoration: none;
    color: wheat;
    cursor: pointer;
}

.itemBox{
    position: relative;
    min-width: 100%;
}

.info{
    color: white;
    font-size: 150%;
}
.right{
    position: absolute;
}
.carouselMainBox div div span{
    display: flex;
    margin-left: 5%;
}
