.mainBox{
    background-color: black;
    margin: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 1%;
    box-shadow: 0 0 130px 2px;
    border-radius: 25px;
}
.mainBox h1{
    color: white;
}

.carouselMainBox{
    position: relative;
    height: 50%;
    width: 50%;
    margin: 5px auto;
    display: inline-flex;
}

.carouselMainBox img{
    position: relative;
    right: 0px;
    margin: 1%;
    width: 98%;
    transition: .1s ease;
}

.dots{
    background-color: silver;
    cursor: pointer;
}

.dots_active{
    border: 1px solid silver;
    background-color: slategrey;
}

.dots, .dots_active{
    width: 15px;
    height: 15px;
    margin-right: 5px ;
    border-radius: 50%;
    display: inline-flex;
    content: '';
    transition: .5s ease all;
}

.dotsBox{
    padding: 1%;
}

.mainBox div button{
    box-shadow: 0 0 130px 2px whitesmoke;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
    height: 96.5%;
    opacity: 0.7;
    border-top-right-radius: 60vh;
    border-bottom-right-radius: 60vh;
    outline: none;
    cursor: pointer;
}

#left:hover, #right:hover{
    background-color: rgb(49, 49, 49);
    transition: 0.5s;
}

#left{
    left: -52%;
    transition: 0.5s;
    background: none;
}

#right{
    transition: 0.5s;
    right: -52%;
    background: none;
    transform: rotate(180deg);
    top: 1.5%;
}

